<html>
<head>
    
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,user-scalable=0" />

<link rel="stylesheet" type="text/css" href="assets/css/template.css" />
<title>Título da página</title>

</head>

<body>

    <h1>Título da página</h1>
    <hr/>